<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Caesar's Stock Newsletter</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
  </head>
  <body>

    <div class="newsletter-content">
      <p>Welcome to our newsletter, you can expect stock signals like this:</p>
      <form class="" action="success" method="post">
        <input type="text" name="email" id="email" placeholder="email">
        <button type="submit" name="button">Subscribe</button>
      </form>
    </div>
  </body>
</html>
